/* 835AF1 * 6331ED */

.product-info div h4,
#sdbr-title ,
#project-modal .close:hover,
.dark-bg a,
.navbar-inverse .navbar-nav>li>a:hover, 
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus, 
.navbar-inverse .navbar-nav>li>a.active,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-header,
#style-switcher h2,
#style-switcher h2 a {
	color: #835AF1;
}

.slides-navigation a.next:hover,
.slides-navigation a.prev:hover,
.social-links li a:hover {
  background-color: #835AF1;
  border-color: #835AF1;
}

.btn-store,
.slides-pagination a.current,
.carousel-indicators li.active ,
.hover-mask2,
.color-bg,
.dropdown-toggle,
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus,
.social-profiles li a:hover,
.btn-store.outline:hover,
.btn-store.outline:focus,
.btn-store.outline:active,
.owl-theme .owl-nav [class*=owl-]:hover  {
	background-color: #835AF1;
}

.btn-store:hover,
.btn-store:focus,
.btn-store:active {
	background-color: #6331ED;
}

.btn-store.outline  {
	color:#835AF1;
	border-color: #835AF1;
}

#contact-form .form-control:focus, 
#order-form .form-control:focus,
.input-group .form-control:focus {
	border:2px solid #835AF1;
}

.social-profiles li a {
	border:2px solid #835AF1;
	color:#835AF1;
}

